<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="SRT web Editor">
	<meta http-equiv="X-UA-Compatible" content="sIE=edge" />
	<title><%= title %></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css">-->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand"><%= title %></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/">
								Editor
							</a>
						</li>
						<li class="active">
							<a href="/about">
								About <span class="sr-only"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="container main-section-padding-bottom">
			<div class="row">
				<div class="col-md-12">
					<h1>
						About
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="lead">
						<strong>SRT Web Editor</strong> is a free online tool to edit subtitles in format <i>SRT</i> in an easy way. 
					</p>
					<p class="lead">
						Any suggestion or feedback you can write me an email to <a href="mailto:hi@pabloanabalon.com?Subject=SRT%20Web%20Editor" target="_top">hi@pabloanabalon.com</a>. So, what's coming up next:
						<ul class="lead">
							<li>Create an SRT file from scratch.</li>
							<li>Find time and text.</li>
							<li>And more...</li>
						</ul>
					</p>
					<p class="lead">
						If you're a developer you can see the <a href="https://github.com/Funkion/srt-editor" target="_blank">project repository in Github</a> and send a pull request, report issues or whatever. This web app is enterely made it in JavaScript, using Node.js, Marionette.js, Backbone.js, JQuery, Underscore and Browserify.
					</p>
				</div>
			</div>
		</section>
		<footer class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Made with <i class="fa fa-heart"></i> by <a href="http://www.pabloanabalon.com" target="_blank">Pablo Anabalón</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>