vendor-prefixes ?= webkit moz o ms official
@import 'nib/vendor'
@import 'nib/gradients'

//GENERAL
html, body
	margin 0
	padding 0
	height 100%
	
#wrapper
	min-height 100%
	position relative	

#tmpl-container
	padding-bottom 70px

.main-section-padding-bottom
	padding-bottom 70px

i
	font-style italic

//EDITOR
#uploadFile
	position relative
	margin auto

.container-subtitles
	display none
	margin 10px 20px

#error-actions
	margin-top 5px
	margin-bottom 5px
	
#error-save
	margin-top 5px
	margin-bottom 5px

.nav-select-subtitles
	margin 0px 35px

@media screen and (max-width: 768px)
	.nav-select-subtitles
		margin 0px 15px

#go-to-top
	cursor pointer

.fixed
	top 0
	position fixed
	width auto
	display none
	border none

#table-subtitles
	background-color #158CBA
	color #fff
	thead
		tr
			.th-subtitle-select
				text-align center
			.th-subtitle-number
				text-align center
				width 50px
			.th-subtitle-initial-time
				width 100px
			.th-subtitle-final-time
				width 100px
			.th-subtitle-text
				width 100%
	tbody
		background-color #DADADA
		tr
			th
				text-align center
			td
				.input-number
					height 34px
					width 60px
					font-size 14px
					color #555
					text-align center
				.input-start-time
					height 34px
					width 110px
					font-size 14px
					text-align center
				.input-final-time
					height 34px
					width 110px
					font-size 14px
					text-align center
				.input-subtitle-text
					width 100%
					font-size 14px
					color #555

footer
	background-color #DADADA
	padding 25px 0
	position absolute
	left 0
	bottom 0
	width 100%
	
@media screen and (max-width: 768px)
	.container-subtitles
		margin 10px -10px
