vendor-prefixes ?= webkit moz o ms official
@import 'nib/vendor'
@import 'nib/gradients'

//GENERAL
html, body
	margin 0
	padding 0
	height 100%
	
#wrapper
	min-height 100%
	position relative	

#tmpl-container
	padding-bottom 70px

.main-section-padding-bottom
	padding-bottom 70px

//EDITOR
#uploadFile
	position relative
	margin auto

.container-subtitles
	display none
	margin 10px 20px

.nav-select-subtitles
	margin 0px 35px

@media screen and (max-width: 768px)
	.nav-select-subtitles
		margin 0px 15px

#go-to-top
	cursor pointer

.fixed
	top 0
	position fixed
	width auto
	display none
	border none

#table-subtitles
	background-color #158CBA
	color #fff
	thead
		tr
			.th-subtitle-select
				text-align center
			.th-subtitle-number
				text-align center
				width 50px
			.th-subtitle-initial-time
				width 100px
			.th-subtitle-final-time
				width 100px
			.th-subtitle-text
				width 100%
	tbody
		background-color #DADADA
		tr
			th
				text-align center
			td
				.input-number
					height 34px
					width 60px
					font-size 14px
					color #555
					background-color #fff
					border 1px solid #ccc
					border-radius 4px
					box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.75)
					text-align center
					transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
				.input-start-time
					height 34px
					width 110px
					font-size 14px
					color #555
					background-color #fff
					border 1px solid #ccc
					border-radius 4px
					box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.75)
					text-align center
					transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
				.input-final-time
					height 34px
					width 110px
					font-size 14px
					color #555
					background-color #fff
					border 1px solid #ccc
					border-radius 4px
					box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.75)
					text-align center
					transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
				.input-subtitle-text
					width 100%
					font-size 14px
					color #555
					background-color #fff
					border 1px solid #ccc
					border-radius 4px
					box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.75)
					text-align left
					transition border-color ease-in-out .15s,box-shadow ease-in-out .15s

footer
	background-color #DADADA
	padding 25px 0
	position absolute
	left 0
	bottom 0
	width 100%
	
@media screen and (max-width: 768px)
	.container-subtitles
		margin 10px -10px
