<div class="container">
	<div class="row container-form-load-subtitle">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					Select SRT File to Edit
				</div>
				<div class="panel-body">
					<form id="sendSRTFile" class="form-horizontal" role="form">
						<div class="form-group text-center">
							<input type="file" id="uploadFile" name="uploadFile" accept=".srt">
						</div>
						<div class="form-group text-center">
							<button type="Send" class="btn btn-default btn-lg">Load .srt file</button>
						</div>
					</form>
					<div id="message-region">						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- subtitles -->
	<div class="row container-subtitles">
		<div class="col-md-12">
			<h3 id="file-name">				
			</h3>
		</div>
		<div class="col-md-12 table-responsive">
			<table id="table-subtitles" class="table table-bordered">
				<thead>
					<tr>
						<th class="th-subtitle-select">
							<input type="checkbox" id="chkSelectAll">
						</th>
						<th class="th-subtitle-number">
							#
						</th>
						<th class="th-subtitle-initial-time">
							Inicial Time
						</th>
						<th class="th-subtitle-final-time">
							End Time
						</th>
						<th class="th-subtitle-text">
							Text
						</th>
					</tr>
				</thead>
					<!-- here will be insert the subtitle object -->
			</table>
		</div>
		<div class="col-md-12 text-center">
			<i class="fa fa-long-arrow-up fa-lg" id="go-to-top"></i>
		</div>
	</div>
</div>