<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Select SRT File to Edit
			</div>
			<div class="panel-body">
				<form action="/uploadfile" class="form-horizontal" role="form">
					<div class="form-group text-center">
						<input type="file" id="uploadFile" name="uploadFile" accept=".srt">
					</div>
					<div class="form-group text-center">
						<button type="Send" class="btn btn-default btn-lg">Load .srt file</button>
					</div>
				</form>
				<%= testRender %>
			</div>
		</div>
	</div>
</div>