<th>
	<input type="checkbox" id="chkSubtitle<%= subtitleNumber %>" class="chk-subtitle">
</th>
<td>
	<input type="text" name="txtNumber<%= subtitleNumber %>" id="txtNumber<%= subtitleNumber %>" value="<%= subtitleNumber %>" placeholder="1" class="input-number">
</td>
<td>
	<input type="text" name="txtStartTime<%= subtitleNumber %>" id="txtStartTime<%= subtitleNumber %>" value="<%= startTime %>" placeholder="00:00:00,000" class="input-start-time">
</td>
<td>
	<input type="text" name="txtFinalTime<%= subtitleNumber %>" id="txtFinalTime<%= subtitleNumber %>" value="<%= finalTime %>" placeholder="00:00:00,000" class="input-final-time">
</td>
<td>
	<textarea name="txtSubtitleText<%= subtitleNumber %>" id="txtSubtitleText<%= subtitleNumber %>" class="form-control input-subtitle-text" rows="3"><%= text %></textarea>
</td>