<th>
	<input type="checkbox" id="chkSubtitle<%- subtitleNumber %>">
</th>
<td>
	<input type="text" class="form-control" name="txtStartTime<%- subtitleNumber %>" id="txtStartTime<%- subtitleNumber %>" value="<%- subtitleNumber %>" placeholder="1">
</td>
<td>
	<input type="text" class="form-control" name="txtStartTime<%- subtitleNumber %>" id="txtStartTime<%- subtitleNumber %>" value="<%- startTime %>" placeholder="00:00:00,0000">
</td>
<td>
	<input type="text" class="form-control" name="txtFinalTime<%- subtitleNumber %>" id="txtFinalTime<%- subtitleNumber %>" value="<%- finalTime %>" placeholder="00:00:00,0000">
</td>
<td>
	<input type="text" class="form-control" name="txtSubtitleText<%- subtitleNumber %>" id="txtSubtitleText<%- subtitleNumber %>" value="<%- text %>" placeholder="Here put subtitle's text">
</td>